<% const year = new Date().getFullYear() %>
<footer id="footer">
	<p class="footer__copyright">&copy; <%= year %> CSE 340 App</p>
	<p class="footer__dev-tools">
		<a href="/trigger-error" title="Test error handling" class="footer__dev-link">Test Error Handling</a>
	</p>
</footer>
