<!-- Header -->
<header class="header">
	<div class="header__container">
		<!-- Site brand/logo -->
		<h1 class="header__brand">
			<a href="/" class="header__brand-link" title="Return to home page">CSE Motors</a>
		</h1>

		<!-- Account tools -->
		<div class="header__tools">
			<% if (locals.loggedin) { %>
			<!-- Logged in user tools -->
			<a href="/account/" class="header__welcome-link" title="Go to account management">
				Welcome <%= locals.accountData.account_firstname %>
			</a>
			<a href="/account/logout" class="header__logout-link" title="Click to logout">Logout</a>
			<% } else { %>
			<!-- Not logged in tools -->
			<a href="/account/login" class="header__account-link" title="Click to login">My Account</a>
			<% } %>
		</div>
	</div>
</header>
