<header id="header">
	<span id="header__site-name">
		<a href="/" title="Return to home page">New Motors</a>
	</span>
	<div id="header__tools">
		<a href="/account/login" title="Click to login">My Account</a>
	</div>
</header>
