<!-- Navigation -->
<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__item">
			<a href="/" class="navigation__link">Home</a>
		</li>
		<li class="navigation__item">
			<a href="/custom" class="navigation__link">Custom</a>
		</li>
		<li class="navigation__item">
			<a href="/sedan" class="navigation__link">Sedan</a>
		</li>
		<li class="navigation__item">
			<a href="/suv" class="navigation__link">SUV</a>
		</li>
	</ul>
</nav>
