<!-- Hero Section -->
<section class="hero">
	<h2 class="hero__heading">Welcome to CSE Motors !</h2>
	<div class="hero__container">
		<div class="hero__content">
			<div class="hero__text">
				<h2 class="hero__product-name">DMC Delorean</h2>
				<ul class="hero__features">
					<li class="hero__feature">3 Cup holders</li>
					<li class="hero__feature">Superman doors</li>
					<li class="hero__feature">Fuzzy dice !</li>
				</ul>
				<button class="hero__cta-button">Own Today</button>
			</div>
			<div class="hero__image">
				<img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car" class="hero__car-image">
			</div>
		</div>
	</div>
</section>
<!-- Upgrades Section -->
<section class="upgrades">
	<div class="upgrades__container">
		<h2 class="upgrades__heading">Delorean Upgrades</h2>
		<div class="upgrades__grid">
			<div class="upgrades__item">
				<div class="upgrades__image-wrapper">
					<img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor upgrade" class="upgrades__image">
				</div>
				<h3 class="upgrades__title">Flux Capacitor</h3>
			</div>
			<div class="upgrades__item">
				<div class="upgrades__image-wrapper">
					<img src="/images/upgrades/flame.jpg" alt="Flame Decals upgrade" class="upgrades__image">
				</div>
				<h3 class="upgrades__title">Flame Decals</h3>
			</div>
			<div class="upgrades__item">
				<div class="upgrades__image-wrapper">
					<img
						src="/images/upgrades/bumper_sticker.jpg"
						alt="Bumper Stickers upgrade"
						class="upgrades__image"
					>
				</div>
				<h3 class="upgrades__title">Bumper Stickers</h3>
			</div>
			<div class="upgrades__item">
				<div class="upgrades__image-wrapper">
					<img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps upgrade" class="upgrades__image">
				</div>
				<h3 class="upgrades__title">Hub Caps</h3>
			</div>
		</div>
	</div>
</section>
<!-- Reviews Section -->
<section class="reviews">
	<div class="reviews__container">
		<h2 class="reviews__heading">DMC Delorean Reviews</h2>
		<ul class="reviews__list">
			<li class="reviews__item">
				<p class="reviews__text">"So fast it's almost like traveling in time."(4/5)</p>
			</li>
			<li class="reviews__item"><p class="reviews__text">"Coolest ride on the road."(4/5)</p></li>
			<li class="reviews__item"><p class="reviews__text">"I'm feeling McFly!"(5/5)</p></li>
			<li class="reviews__item"><p class="reviews__text">"The most futuristic ride of our day."(4.5/5)</p></li>
			<li class="reviews__item"><p class="reviews__text">"80's livin and I love it!"(5/5)</p></li>
		</ul>
	</div>
</section>
