<!-- Hero Section -->
<section class="hero">
	<div class="hero__container">
		<h1 class="hero__heading">Welcome to CSE Motors !</h1>
		<div class="hero__content">
			<div class="hero__text">
				<h2 class="hero__product-name">DMC Delorean</h2>
				<ul class="hero__features">
					<li class="hero__feature">3 Cup holders</li>
					<li class="hero__feature">Superman doors</li>
					<li class="hero__feature">Fuzzy dice !</li>
				</ul>
				<button class="hero__cta-button">Own Today</button>
			</div>
			<div class="hero__image">
				<img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car" class="hero__car-image" />
			</div>
		</div>
	</div>
</section>
